body{
	background-color: dodgerblue;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 90vh;
}
form{
	width: auto;
	height: auto;
	background-color: white;
}
input[type="text"]{
	width: 200px;
	height: 50px;
	padding: 8px 10px;
	border: none;
	outline: none;
	font-size: 20px;
}
.keys{
	background-color: rgb(15,15,15);
	line-height: 0;
	letter-spacing: -3px;
}
input[type="button"]{
	width: 54px;
	height: 50px;
	color: white;
	font-family: verdana;
	background: rgb(15,15,15);
	border: none;
	outline: none;
}
input[type="button"]:hover{
	background-color: rgb(50,50,50);
}
button	{
	width: 100%;
	background-color: rgb(15,15,15);
	outline: none;
	border: none;
	color: white;
	font-family: verdana;
	font-size: 25px;
	border-top: 1px solid white;
	height: 50px;
}
